.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  margin: auto;
  max-width: 900px;
  padding: 1em;
}

.btn {
  background-color: var(--color-accent);
  border: none;
  border-radius: 0.1em;
  color: var(--color-foreground-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin: 0 auto;
  padding: 0.5em 1.5em;
}

.btn:hover {
  background-color: var(--color-accent-hover);
  cursor: pointer;
}

.description {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
